@charset "UTF-8";

.single-features a:visited {
    color: #7F0000;
    z-index: 1;
}

.btn-common:visited {
    color: #7F0000;
    border-color: #7F0000;
    z-index: 1;
}

@media only screen and (max-width : 768px) {
    #navbar-sm {margin-top: 50px !important; margin-bottom: -25px;}
    #last-laugh a {position: relative; margin: 0 0 0 0 !important;}
}

#more-bottom {
    position: relative;
    display: inline-block;
    margin: 0 0 15px 0;
    z-index: 1;
}

#last-laugh {
    position: relative;
    display: inline-block;
    margin: 75px 0 0 15px;
    z-index: 1;
}

#last-laugh img {
    position: relative;
    display: inline-block;
    border: 1px solid #686868;
    z-index: 1;
}

#last-laugh a {
    font-size: 0.95em;
    letter-spacing: -0.02em;
    position: absolute;
    margin: 154px 0 0 7px;
    display: inline-block;
    color: #ea2c00;
    z-index: 1;
}

#last-laugh a:hover, a:visited, a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    color: #686868;
    z-index: 1;
}

.bowl {
    margin-left: -25px;
    z-index: 1;
}

.social-bar-r {
    margin-right: 2px !important;
    z-index: 1;
}

#gallery-title {
    display: inline-block;
    margin-left: 0px;
    padding: 0;
    z-index: 1;
}

#gallery-title h1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    z-index: 1;
}

#gallery-subtitle {
    display: inline-block;
    padding: 0;
    z-index: 1;
}

#gallery-title-grey {
    display: inline-block;
    margin-right: 2px;
    padding: 0;
    z-index: 1;
}

#gallery-subtitle-red {
    display: inline-block;
    color: #FF0000;
    margin-left: 2px;
    padding: 0;
    z-index: 1;
}

.social-wrap {
    margin-right: -11px;
    padding: 0;
    z-index: 1;
}

.project-info {
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
}

#related-work h1 {
    font-size: 17px;
    font-weight: 600;
    z-index: 1;
}

#comp-elem-top {
    padding-right: 60px;
    z-index: 1;
}

#comp-elem-middle {
    padding-left: 35px;
    z-index: 1;
}

#comp-elem-bottom {
    padding-right: 75px;
    z-index: 1;
}

.gallery-header {
    margin-top: -50px;
    margin-bottom: -100px;
    padding: 0;
    z-index: 1;
}

.gallery-details-header {
    margin-top: -50px;
    margin-bottom: -100px;
    padding: 0;
    z-index: 1;
}

#footer-divider {
    display: inline-block;
    width: 100%;
    height: 25px;
    margin: 0 0 15px;
    padding: 0;
    border-top: 1px dotted #c5c8cc;
    z-index: 2;
}

.m-space {
    margin-top: 18px;
    padding: 0;
    z-index: 1;
}

.t-space {
    margin-top: -18px;
    padding: 0;
    z-index: 1;
}

.comp-txt p {
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
}

.comp-txt-bold {
    display: inline-block;
    font-weight: 600;
    padding: 0;
    z-index: 1;
}

.comp-title {
    margin: -15px 0 0 15px;
    padding: 0;
    z-index: 1;
}

.comp-title h1 {
    font-size: 1.06em;
    font-weight: 600;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.comp-subtitle {
    overflow: hidden;
    margin-bottom: 30px;
    z-index: 1;
}

.comp-subtitle h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    margin: 12px 0 0;
    z-index: 1;
}

.comp-subtitle h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    margin: -45px 0 0;
    z-index: 1;
}

.comp-subtitle h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    margin: 0 0 0;
    z-index: 1;
}

.more-top {
    margin: 35px 0 0 15px;
    padding: 0;
    z-index: 1;
}

.ken-fish-footer {
    margin-top: -5px;
    margin-left: 2px;
    padding: 0;
    z-index: 1;
}

@media only screen and (min-width : 768px) {
    
}

@media only screen and (max-width : 768px) {
    #gallery-title {margin: 75px 0 50px;}
    .comp-title {margin-top: 35px;}
    .t-space {padding: 0 15px 0;}
    .social-wrap {padding: 0 2px 0;}
    #fishes {margin-top: -75px;}
    .more-top {margin-top: 500px;}
}

#pull-to-front {
    z-index: 999;
}